@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #242424;
}

/* Headings and Logo */

h1, h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 35px;

}

/* Navigation menu */

#nav-menu {
    font-size: 130%;
    letter-spacing: 3px;
}

#nav-menu, #logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #242424;
}

.active {
    border-bottom: 1px solid #242424;
}

/* Main image and cover text*/

#outer-main {
    height: 700px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-image-text, #main-image-text h2 {
    color: #fff;
}

#main-image {
    background: url('../images/main-image.jpg');
    height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#main-image-text {
    font-size: 250%;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    background-color: rgba(60, 114, 114, 0.7);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Main page information card */
#info-section {
    padding-top: 30px;
}

#info-section h2 {
    font-size: 250%;
    text-align: center;
    padding: 20px;
}

#card {
    display: flex;
    
    background-color: #3c7272;
    height: auto;
    width: 66%;
    margin: auto;
    border-radius: 20px;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

#card-text {
    flex: 1 1 0;
    text-align: center;
    

    padding-top: 20px;
}

#card-text h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 225%;

    color: #fafafa;
}

#card-text p {
    padding-top: 10px;
    line-height: 20px;
    color: #fafafa;
}

#card-text a {
    color: #fafafa;
    text-decoration: none;
}

#card-text a:hover {
    border-bottom: 1px solid #242424;
}

#card-text p:last-of-type {
    padding-bottom: 20px;
}

hr {
    border-top: 2px solid #fafafa;
    width: 75%;
    margin: auto;
}

#card-image {
    flex: 1 1 auto;
    border-radius: 0 20px 20px 0;;
    background: url('../images/dog-cup-card.jpg') no-repeat center center;
}

/* Testimonial Section */
#testimonial-section {
  width: 100%;
  height: auto;
  margin: auto;

  padding-top: 30px;
  overflow: auto;
}

#testimonial-section h2 {
  font-size: 250%;
  text-align: center;
  padding: 20px;
}

.testimonial-column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;

  background-color: #3c7272;

}

.testimonial-box {
  height: auto;
  padding: 10px;
  color: #fafafa;
}

.testimonial-box h2 {
  font-size: 200%;
  font-family: 'Amatic SC', cursive;
  color: #fafafa;
  text-align: center;
}

.testimonial-box p {
  font-size: 120%;
  padding-bottom: 15px;
  text-align: center;
  content: contain;
}

.testimonial-box img {
  width: 100%;
  margin: auto;
}

.container {
  padding: 0 16px;
  
  content: contain;
}

/* Footer */

footer {
    padding-top: 10px;
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #242424;
}

footer p {
    text-align: center;
    padding-bottom: 20px;
}

/* Meet the team section */

#meet-the-team {
    width: 85%;
    margin: auto;

    padding-top: 30px;
    overflow: auto;
}

#meet-the-team h2 {
    font-size: 250%;
    text-align: center;
    padding: 20px;
}

.team-column {
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 8px;

  }

  .team-card {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
  }

  .team-card h3 {
    font-size: 200%;
    font-family: 'Amatic SC', cursive;

    text-align: center;
  }

  .team-card p {
    font-size: 120%;
    padding: 5px;
  }

  .team-card img {
    width: 100%;
    content: contain;
  }

  .container {
    padding: 0 16px;
    
    content: contain;
  }

  /* Our Journey Section */

  #journey {
    width: 100%;

    padding-top: 30px;
  }

  #journey h2{
    font-size: 250%;
    text-align: center;

    padding: 20px;
}

/* Timeline */

/* Teal background to cover section after heading */
#tl {
    width: 100%;
    background-color: #3c7272;
}

/* Timeline middle line */

.timeline {
    position: relative;
    max-width: 80%;
    margin: 0 auto;

    background-color: #3c7272;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container for timeline text */

  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* Timeline circles */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
/* Place the container to the left */
.left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to left container */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to right container */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Set circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* Timeline text */
  .timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;

    font-size: 120%;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }

  /* About us page video */
  #video-container {
    position: relative;
    margin: auto;
    width: 100%;

  /* 16:9 aspect ratio equals a height that's 56.25% of the width. */
    padding-bottom: 56.25%;
  }

  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  /* Menu */

  #menu-section {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    margin: auto;
    width: 90%;
  }

  #menu {
    width: 40%;
    margin: auto;
    background-color: #3c7272;
    padding: 20px;
    text-align: center;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }

  #menu h1 {
    font-size: 50px;
    padding: 10px;
    color: #fafafa;
  }

  #menu h2 {
    font-size: 30px;
    padding: 5px;
    color: #fafafa;
  }

  .item, .price {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
    font-size: 20px;
    color: #fafafa;
  }

  #menu-image {
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }

  #menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  /* Form Page */
  #walk-club-intro {
    width: 66%;
    margin: auto;

    padding: 50px;
    overflow: auto;
}

#walk-club-intro h2 {
    font-size: 250%;
    text-align: center;
}

#walk-club-intro p {
  font-size: 120%;
  text-align: center;
}

  /* Signup Form */
  #form-section {
    margin: auto;
    background-color: #3c7272;
    padding: 50px;
}

.signup-form {
    margin: auto;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 30px;
}

.signup-form > h2 {
    font-size: 200%;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

select {
  background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fff;
    border-radius: 2px;
}

select option {
  color: #242424;
}

.text-input:hover {
    border-color: #242424;
}

.submit-button {
    
  margin: 10px auto;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #3c7272;
    color: #fff;
    display: block;
}

.submit-button:hover {
    background-color: #fff;
    color: #57a8a8;
}

/* Media Queries */
/* 960px wide and below */
@media screen and (max-width: 960px) {

  /* Home Page */
  #card {
    flex-direction: column;
    height: 800px;
    width: 75%;
  }
  
  #card-image {
    border-radius: 0 0 20px 20px;
  }

  /* Testimonial Section */
  .testimonial-column {
    width: 50%;
    margin-bottom: 0;
    padding: 0;
  }

  /* Menu Page */

  #menu-section {
    flex-direction: column;
    width: 85%;
  }

  #menu {
    width: 100%;
  }

  #menu-image {
    width: 100%;
  }
  
  /* About Us Page */

  #meet-the-team {
    width: 100%;
  }

  /* Walk club intro section */
  #walk-club-intro {
    width: 85%;
  }
}

/* 830px wide and below */
@media screen and (max-width: 830px){

/* Logo and nav menu */

  #nav-menu {
    clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
  }
}

/* 730px wide and below */
@media screen and (max-width: 730px){
  
  /* Nav menu items */
  #nav-menu li {
    margin-right: 15px;
  }

  /* Main image text */
  #main-image-text {
    font-size: 200%;
  }

  /* Testimonial section */
  .testimonial-column {
    width: 100%;
  }

  /* Meet the team */

  #meet-the-team {
    width: 100%;
  }
  .team-column {
    width: 100%;
    display: block;
  }
}

/* 670px and below */
@media screen and (max-width: 670px) {
  
  
  
  /* Timeline */
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  @media screen and (max-width: 440px){
    #nav-menu {
      letter-spacing: 1px;
    }

    #main-image-text {
      font-size: 150%;
    }

  }

  @media screen and (max-width: 385px){
   
    #logo {
      font-size: 185%;
    }

    #nav-menu {
      font-size: 100%;
    }

  }
